Source: ros-indigo-sophus
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libeigen3-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-sophus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-indigo-catkin
Description: C++ implementation of Lie Groups using Eigen.
